.download {
  padding: 20px 28px;

  color: #ffffff;
  background-color: #1d2631;
}

.download__btn {
  padding: 15px 20px;

  color: #ffffff;
  background-color: transparent;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  border: 3px solid #ffffff;
  border-top-left-radius: 23px 28px;
  border-top-right-radius: 23px 28px;
  border-bottom-right-radius: 23px 28px;
  border-bottom-left-radius: 23px 28px;
}
